<html>

<head>
	<title>Job Hunt</title>
</head>

<body>
	<div id="search">

		<form id="skills" method="get">
			<input type="checkbox" name="skillset" value="android" checked>Android</input>
			<input type="checkbox" name="skillset" value="c#" checked>C#</input>
			<input type="checkbox" name="skillset" value="c" checked>C</input>
			<input type="checkbox" name="skillset" value="java" checked>Java</input>
			<input type="checkbox" name="skillset" value="javascript" checked>Javascript</input>
			<input type="checkbox" name="skillset" value="python" checked>Python</input>
			</input>
			{% csrf_token %}
			<input type="submit" id="search_btn" value="Search">

		</form>

	</div>

	<div id="results">
		<section id="selected_skillset">
			<h3>Skillset: </h3>
			{% for skill in skillset %}
				{{ skill }}
			{% endfor %}
		</section>

		<section id="joblinks">
			<h3>Results: </h3>
			{% for job in jobs %}
				{{ job.title }}
				{{ job.posted }}
				{{ job.text }}
			{% endfor %}
		</section>

	</div>

</body>

</html>