<html>

<head>
	<title>Job Hunt</title>
</head>

<body>
	<div id="search">

		<form id="skills" action="" method="get">
			<input type="checkbox" name="skillset" value="android" checked>Android</input>
			<input type="checkbox" name="skillset" value="c#" checked>C#</input>
			<input type="checkbox" name="skillset" value="c" checked>C</input>
			<input type="checkbox" name="skillset" value="java" checked>Java</input>
			<input type="checkbox" name="skillset" value="javascript" checked>Javascript</input>
			<input type="checkbox" name="skillset" value="python" checked>Python</input>
			</input>

			<input type="submit" id="search_btn" value="Search">

		</form>

	</div>
</body>

</html>